@model IEnumerable<MCV.Models.Role>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";}



<div class="row ">
    <div class="card">
        <div class="card-body">
            <br></br>

            <h1>Index</h1>


            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <table class="table">
                <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new {  id=item.id  }) |
                                @Html.ActionLink("Details", "Details", new { id=item.id }) |
                                @Html.ActionLink("Delete", "Delete", new { id=item.id })
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
