
@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@model MCV.Models.Account

@{
    ViewData["Title"] = "Details";
}



<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Normal buttons</h4>
                <br></br>

                <h1>Details</h1>

                <div>
                    <h4>Account</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.id)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.id)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.RoleId)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.RoleId)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Password)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Password)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Avatar)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Avatar)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Status)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Status)
                        </dd>
                    </dl>
                </div>
                <div>
                    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>