
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@model IEnumerable<MCV.Models.Account>

@{
    ViewData["Title"] = "Index";
}


<div>
    <a asp-action="Index">Back to List</a>
</div>
<div class="row">
    <div class="col-md-9">
        <br></br>
        <br></br>


        <div class="row ">
            <div class="card">
                <div class="card-body">
                    <br></br>

                    <h1>Index</h1>

                    <p>
                        <a asp-action="Create">Create New</a>
                    </p>
                    <table class="table">
                        <thead>
                            <tr>
                             
                                <th>
                                  <p>Role</p>
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Password)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Avatar)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                   
                                    <td>
                                        @{
                                            var role = await ViewBag.Role;
                                            foreach (var x in role)
                                            {
                                                if (x.id == item.RoleId)

                                                {

                                                    <p>@x.name</p>
                                                }

                                            }


                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Password)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Avatar)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id= item.id}) |
                                        @Html.ActionLink("Details", "Details", new {id= item.id }) |
                                        @Html.ActionLink("Delete", "Delete", new {id= item.id })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

