@model MCV.ViewModel.ListGioHangView

<!-- End Header Area -->
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shopping Cart</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Cart</a>
                </nav>
            </div>
        </div>
    </div>
</section>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}
<!-- End Banner Area -->
<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Size</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var a in Model.gioHangHungViews)
                        {
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            @if (System.IO.Path.GetExtension(a.Shoes.avata) == ".jpg" ||
                                           System.IO.Path.GetExtension(a.Shoes.avata) == ".png" ||
                                           System.IO.Path.GetExtension(a.Shoes.avata) == ".jpeg" ||
                                           System.IO.Path.GetExtension(a.Shoes.avata) == ".tiff" ||
                                           System.IO.Path.GetExtension(a.Shoes.avata) == ".webp" ||
                                           System.IO.Path.GetExtension(a.Shoes.avata) == ".gif")
                                            {
                                                <img src="~/image/@a.Shoes.avata" height="300">
                                            }
                                            else
                                            {
                                                <span>Ảnh lỗi rồi =)))</span>
                                            }
                                        </div>
                                        <div class="media-body">
                                            <p>@a.Shoes.name</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>@a.Sizes.name</h5>
                                </td>
                                <td>
                                    <h5>@FormatCurrency(a.Shoes.PriceOutput)</h5>
                                </td>


                                <td>
                                    <div class="product_count">
                                        <input type="text" name="qty" id="sst" maxlength="12" value="@a.CartDetail.Quantity" title="Quantity:"
                                               class="input-text qty">
                                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                                class="increase items-count" type="button">
                                            <i class="lnr lnr-chevron-up"></i>
                                        </button>
                                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                                class="reduced items-count" type="button">
                                            <i class="lnr lnr-chevron-down"></i>
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <h5>@FormatCurrency(a.Shoes.PriceOutput *a.CartDetail.Quantity)</h5>
                                </td>
                                <td>
                                    @Html.ActionLink("Xóa", "XoaChiTietGioHang", new { id=a.CartDetail.id})
                                </td>

                            </tr>
                        }

                        <tr class="bottom_button">
                            <td>
                                <a class="gray_btn" href="#">Update Cart</a>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                               
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <h5>Tổng tiền :</h5>
                            </td>
                            <td>
                                <h5>@FormatCurrency(Model.Tong)</h5>
                            </td>
                        </tr>
                   
                        <tr class="out_button_area">
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a class="gray_btn" asp-controller="BanHang" asp-action="HienThiSanPham">Tiếp tục mua sắm</a>
                                    <a class="primary-btn" asp-controller="BanHang" asp-action="ThuTucThanhToan">Tiến hành đặt hàng</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<script>
    @functions {
        public string FormatCurrency(float price)
        {
            string formattedPrice = string.Format("{0:N0}", price); // Định dạng số và thêm dấu phân cách ngàn
            return formattedPrice + "₫"; // Thêm ký hiệu đồng (₫) vào cuối
        }
    }
</script>
<!--================End Cart Area =================-->
