@model MCV.ViewModel.BanHangView

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<br></br>
<br></br>

<h1>Details</h1>

<div>
    <h4>ShoeDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
        id
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sanPhamBan.ShoeDetail.id)
        </dd>
        <dt class = "col-sm-2">
            ShoeId
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sanPhamBan.Shoes.name)
        </dd>
        <dt class = "col-sm-2">
            SizeId
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sanPhamBan.Sizes.name)
        </dd>
        <dt class = "col-sm-2">
            BrandId
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sanPhamBan.Brands.name)
        </dd>
        <dt class = "col-sm-2">
           CategoryId
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sanPhamBan.Categories.name)
        </dd>
        <dt class = "col-sm-2">
          ColorId
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sanPhamBan.Color.name)
        </dd>
        <dt class = "col-sm-2">
           Quantity
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sanPhamBan.ShoeDetail.Quantity)
        </dd>
        <dt class = "col-sm-2">
           Status
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShoeDetail.Status)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>

@foreach (var a in Model.Anh)
{
    <td>
        @if (System.IO.Path.GetExtension(a.ImgUrl) == ".jpg" ||
       System.IO.Path.GetExtension(a.ImgUrl) == ".png" ||
       System.IO.Path.GetExtension(a.ImgUrl) == ".jpeg" ||
       System.IO.Path.GetExtension(a.ImgUrl) == ".tiff" ||
       System.IO.Path.GetExtension(a.ImgUrl) == ".webp" ||
       System.IO.Path.GetExtension(a.ImgUrl) == ".gif")
        {
            <img src="~/image/@a.ImgUrl" height="100">
           
        }
        else
        {
            <span>Ảnh lỗi rồi =)))</span>
            <a>@a.id.ToString()</a>
        }
    </td>
    <td>
        @Html.ActionLink("Xóa", "XoaAnh", new { id=a.id,IdSp=a.ShoeDetailId}) |
    </td>

}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}
<form asp-action="AddAnh" method="post" enctype="multipart/form-data">
    <div class="m-b-15">
        <input type="hidden" name="IdSP" value="@Model.sanPhamBan.Shoes.id" />
        <input type="hidden" name="Id" value="@Model.sanPhamBan.ShoeDetail.id" />
        <input name="imageFile" type="file" multiple class="form-control-file" />
        <button id="btnUpload" class="btn btn-primary">
            <i class="anticon anticon-save"></i>
        </button>
        <button type="submit">Thêm ảnh</button>
    </div>
</form>